.StopwatchDiv {
  height: 270px;
  width: 360px;
  margin: 30px auto;

  background-color: rgb(25, 25, 25);
  border: solid 5px yellow;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 5px rgb(30, 30, 30);

  color: yellow;

  display: flex;
  flex-direction: column;
  align-items: center;
}
